.nav{
    height: 150px;
}

.signup-box {
background-color: #FFFFFF;
margin-left: 40%;
margin-right: 40%;
margin-top: 300px;
height: 350px;
display: flex;
flex-direction: column;
border-color: #DBDBDB;
border-style: solid;
border-width: 1px;
}

.input-box {
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
}

.signup-btn {
margin-top: 10%;
margin-left: 20%;
margin-right: 20%;
}

.signup {
margin-left: 20%;
margin-right: 20%;
}

.loginback {
    align-items: center;
    margin-top: 11%;
    margin-left: 43%;
    margin-right: 10%;
}

.loginback a {
    color: #eb6e80;
    text-decoration: none;
}

.msg {
    align-items: center;
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 10%;
    color: #eb6e80;
}