body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.test-btn {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    margin-top: 500px;
}