.blur-bg {
    background-color: rgba(0, 0, 0, 0.3);
    height: 105%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
}

.post-bg {
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 900px;
    background-color: antiquewhite;
    position: fixed;
    z-index: 5;
    top: 2%;
    left: 13%;
}

.post-left-div {
    width: 65%;
    height: 100%;
}

.post-right-div {
    width: 35%;
    background-color: #FAFAFA;
}

.close-btn {
    margin-left: 93%;
    margin-top: 2%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.avatar-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    margin-top: -11%;
}

.post-creator {
    font-size: 25px;
    margin-left: 3%;
    color:#313131;
}

.solid-divider {
    border-top: 1px solid #DBDBDB;
    margin-top: -1%;
}

.creator-comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    height: 50px;
    align-items: center;
    margin-left: 5%;
    color:#313131;
}

.content {
    display: flex;
    margin-left: 5%;
    white-space: pre-line;
    line-height: 1.5em;      /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1%;
}
.main-comment {
    display: flex;
    flex-direction: column;
}

.reply-comment {
    display: flex;
    flex-direction: column;
}

.comment-row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-row-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-comment {
    margin-left: 2%;
}

.comment-creator {
    font-size: 15px;
    color:#313131;
    margin-top: 2.8%;
    margin-left: 3%;
}

.comment-content {
    display: flex;
    font-size: 15px;
    margin-left: 5%;
    white-space: pre-line;
    line-height: 1.5em;
    margin-right: 10%;
    overflow-wrap: anywhere;
    color:#313131;
}

.comment-reply {
    font-size: 10px;
    color: #eb6e80;
    margin-left: 3%;
    cursor: pointer;
}

.comment-section {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    line-height: 1.5em;
    height: 67%;       /* height is 2x line-height, so two lines will display */
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.comment-section-reply {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    line-height: 1.5em;
    height: 100%;       /* height is 2x line-height, so two lines will display */
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.comment-section-reply::-webkit-scrollbar {
    display: none;
}

.comment-section::-webkit-scrollbar {
    display: none;
}

.create-comment-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
}

.comment-input-box {
}

.send-btn {
    margin-left: 5%;
}

.post-delete-btn {
    margin-left: 20%;
}
